<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lambda.web.mappers.MovieMapper">
    <insert id="insertMovie"
            parameterType="domain.blog.Author">

    </insert>

    <update id="updateMovie"
            parameterType="com.lambda.web.music.MovieDTO">

    </update>

    <delete id="deleteMovie"
            parameterType="domain.blog.Author">

    </delete>
    <select id="selectMovies" resultType="User">
      select id, username, password
      from users
      where id = #{id}
    </select>
    <select id="selectMovie" resultType="User">
      select id, username, password
      from users
      where id = #{id}
    </select>
    <select id="countMovies" resultType="User">
      select id, username, password
      from users
      where id = #{id}
    </select>
</mapper>